Repository omni-network/omni, changes with the owners that .github/CODEOWNERS names for each.
All owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov, @ttarsi

Updated mapping of xmsgs columns
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/routes/_index.tsx
Owners: @kevinhalliday

docs(develop): explain why omni for gobal state
  docs/site/docs/develop/state.md
  docs/site/sidebars.ts
Owners: @idea404

fix(readme): link
  cli/README.md
Owners: none

fix(halo): fixes few post-refactor bugs
  .secrets.baseline
  e2e/app/definition.go
  e2e/app/key/key.go
  e2e/app/key/key_test.go
  e2e/app/valupdates.go
  e2e/manifests/staging.toml
  e2e/test/app_test.go
  e2e/test/attestations_test.go
  e2e/test/block_test.go
  e2e/test/e2e_test.go
  e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
  halo/app/lazyvoter.go
  halo/attest/keeper/keeper.go
  halo/attest/voter/voter.go
  lib/netconf/provider.go
  lib/xchain/provider/provider.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

fix(halo): fixes few post-refactor bugs (#963)
  .secrets.baseline
  e2e/app/definition.go
  e2e/app/key/key.go
  e2e/app/key/key_test.go
  e2e/app/valupdates.go
  e2e/manifests/staging.toml
  e2e/test/app_test.go
  e2e/test/attestations_test.go
  e2e/test/block_test.go
  e2e/test/e2e_test.go
  e2e/vmcompose/testdata/TestSetup_127_0_0_3_compose.yaml.golden
  halo/app/lazyvoter.go
  halo/attest/keeper/keeper.go
  halo/attest/voter/voter.go
  lib/netconf/provider.go
  lib/xchain/provider/provider.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

ci(e2e): clean network as late as possible
  .secrets.baseline
  cli/cmd/devnet.go
  e2e/app/cleanup.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/cmd/cmd.go
Owners: none

ci(e2e): clean network as late as possible (#952)
  .secrets.baseline
  cli/cmd/devnet.go
  e2e/app/cleanup.go
  e2e/app/run.go
  e2e/app/setup.go
  e2e/cmd/cmd.go
Owners: none

fix(monitor): start app monitoring first
  explorer/indexer/app/app.go
  monitor/app/app.go
  relayer/app/app.go
Owners: @corverroos, @idea404

Fix Status tags
  explorer/ui/app/components/shared/tag.tsx
Owners: @kevinhalliday

fix(monitor): start app monitoring first (#964)
  explorer/indexer/app/app.go
  monitor/app/app.go
  relayer/app/app.go
Owners: @corverroos, @idea404

ci(e2e): fix anvil chain id typo
  lib/evmchain/evmchain.go
  lib/evmchain/evmchain_internal_test.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

ci(e2e): fix anvil chain id typo (#965)
  lib/evmchain/evmchain.go
  lib/evmchain/evmchain_internal_test.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

feat(lib/coingecko): add simple coingecko client (#958)
  lib/coingecko/coingecko.go
  lib/coingecko/coingecko_test.go
  lib/coingecko/options.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

attempted pagination to tables
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/routes/_index.tsx
Owners: @kevinhalliday

ci(e2e): harden port selector
  e2e/vmcompose/data.go
Owners: none

ci(e2e): harden port selector (#966)
  e2e/vmcompose/data.go
Owners: none

docs(develop): explain why omni for gobal state (#961)
  docs/site/docs/develop/state.md
  docs/site/sidebars.ts
Owners: @idea404

fix(readme): link (#962)
  cli/README.md
Owners: none

refactor(lib/eoa): improve and refactor eoa funding
  .secrets.baseline
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  lib/create3/create3_test.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

refactor(lib/eoa): improve and refactor eoa funding (#968)
  .secrets.baseline
  e2e/app/eoa/addrs.go
  e2e/app/eoa/eoa.go
  e2e/app/eoa/fund.go
  e2e/app/eoa/helpers.go
  e2e/app/eoa/static.go
  e2e/app/eoa/static_test.go
  e2e/app/fund.go
  lib/create3/create3_test.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

Small explorer refactoring
  explorer/README.md
  explorer/graphql/app/app.go
  explorer/graphql/app/graphql.go
  explorer/graphql/app/index.html
  explorer/graphql/resolvers/blocks.go
  explorer/graphql/resolvers/blocks_test.go
  explorer/graphql/resolvers/chain.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/root.go
  explorer/graphql/resolvers/search.go
  explorer/graphql/resolvers/search_test.go
  explorer/indexer/app/app.go
  explorer/indexer/app/db.go
Owners: @pavelnikolov, @corverroos

feat(e2e): deploy new fee oracle v1
  contracts/.gas-snapshot
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/protocol/FeeOracleV1.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/FeeOracleV1.t.sol
  contracts/test/portal/OmniPortal_feeFor.t.sol
  contracts/test/portal/OmniPortal_xcall.t.sol
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/evmchain/evmchain.go
  lib/price/coingecko/coingecko.go
  lib/price/coingecko/coingecko_test.go
  lib/price/coingecko/options.go
  lib/price/provider.go
  lib/tokens/tokens.go
  lib/xfee/manager.go
Owners: @kevinhalliday, @ttarsi, @corverroos, @idea404, @pavelnikolov

feat(e2e): deploy new fee oracle v1 (#969)
  contracts/.gas-snapshot
  contracts/bindings/feeoraclev1.go
  contracts/bindings/omniportal.go
  contracts/bindings/portalregistry_storage_layout.json
  contracts/bindings/xregistry_storage_layout.json
  contracts/src/interfaces/IFeeOracleV1.sol
  contracts/src/protocol/FeeOracleV1.sol
  contracts/src/protocol/OmniPortal.sol
  contracts/test/portal/FeeOracleV1.t.sol
  contracts/test/portal/OmniPortal_feeFor.t.sol
  contracts/test/portal/OmniPortal_xcall.t.sol
  e2e/netman/manager.go
  e2e/netman/pingpong/pingpong.go
  lib/contracts/feeoraclev1/deploy.go
  lib/contracts/portal/deploy.go
  lib/contracts/portal/deploy_test.go
  lib/evmchain/evmchain.go
  lib/price/coingecko/coingecko.go
  lib/price/coingecko/coingecko_test.go
  lib/price/coingecko/options.go
  lib/price/provider.go
  lib/tokens/tokens.go
  lib/xfee/manager.go
Owners: @kevinhalliday, @ttarsi, @corverroos, @idea404, @pavelnikolov

squashed caidyn's changes
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/shared/button-legacy.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/routes/_index.tsx
Owners: @kevinhalliday

reviewed comments
  explorer/ui/app/components/shared/filterOptions.tsx
  explorer/ui/app/routes/_index.tsx
Owners: @kevinhalliday

feat(explorer): ui overhaul (#970)
  explorer/ui/app/assets/images/BlockScan.svg
  explorer/ui/app/assets/images/Generic.svg
  explorer/ui/app/assets/images/RouteScan.svg
  explorer/ui/app/components/home/chainDropdown.tsx
  explorer/ui/app/components/home/messageDataTable.tsx
  explorer/ui/app/components/queries/messages.tsx
  explorer/ui/app/components/shared/button-legacy.tsx
  explorer/ui/app/components/shared/button.tsx
  explorer/ui/app/components/shared/dropdown.tsx
  explorer/ui/app/components/shared/explorerDropdown.tsx
  explorer/ui/app/components/shared/filterOptions.tsx
  explorer/ui/app/components/shared/navbar.tsx
  explorer/ui/app/components/shared/search.tsx
  explorer/ui/app/components/shared/simpleTable.tsx
  explorer/ui/app/components/shared/tag.tsx
  explorer/ui/app/graphql/gql.ts
  explorer/ui/app/graphql/graphql.ts
  explorer/ui/app/lib/sourceChains.tsx
  explorer/ui/app/lib/utils.tsx
  explorer/ui/app/routes/_index.tsx
  explorer/ui/app/tailwind.css
  explorer/ui/package.json
  explorer/ui/pnpm-lock.yaml
Owners: @kevinhalliday

fix(test): use wait groups for flaky test
  lib/cchain/provider/provider_test.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

chore(ci): add explorer ui preview
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-explorer-ui.yml
Owners: none

chore(ci): add explorer ui preview (#972)
  .github/workflows/ci-docs.yml
  .github/workflows/ci-pr-explorer-ui.yml
Owners: none

Fix schema and refactor
  explorer/graphql/app/schema.graphql
  explorer/graphql/data/message_provider.go
  explorer/graphql/data/receipt_provider.go
  explorer/graphql/resolvers/messages.go
  explorer/graphql/resolvers/messages_test.go
  explorer/graphql/resolvers/receipts.go
  explorer/graphql/resolvers/receipts_test.go
  explorer/graphql/resolvers/root.go
Owners: @pavelnikolov

additional docs
  docs/site/docs/octane/octane.md
Owners: @idea404

chore(docs): halo docs (#975)
  docs/site/docs/octane/octane.md
Owners: @idea404

feat(monitor/xfeemngr): add gas price buffer
  monitor/xfeemngr/gasprice/gasprice.go
  monitor/xfeemngr/gasprice/gasprice_test.go
  monitor/xfeemngr/gasprice/options.go
  monitor/xfeemngr/ticker/mock.go
  monitor/xfeemngr/ticker/ticker.go
  monitor/xfeemngr/ticker/time.go
Owners: none

feat(monitor/xfeemngr): add gas price buffer (#976)
  monitor/xfeemngr/gasprice/gasprice.go
  monitor/xfeemngr/gasprice/gasprice_test.go
  monitor/xfeemngr/gasprice/options.go
  monitor/xfeemngr/ticker/mock.go
  monitor/xfeemngr/ticker/ticker.go
  monitor/xfeemngr/ticker/time.go
Owners: none

fix(test): use wait groups for flaky test (#973)
  lib/cchain/provider/provider_test.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

feat(monitor/xfeemngr): add token price buffer
  lib/contracts/feeoraclev1/deploy.go
  lib/price/provider.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/coingecko/options.go
  lib/tokens/price.go
  lib/xfee/manager.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/gasprice/buffer_test.go
  monitor/xfeemngr/tokenprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer_test.go
  monitor/xfeemngr/tokenprice/options.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

feat(monitor/xfeemngr): add token price buffer (#977)
  lib/contracts/feeoraclev1/deploy.go
  lib/price/provider.go
  lib/tokens/coingecko/coingecko.go
  lib/tokens/coingecko/coingecko_test.go
  lib/tokens/coingecko/options.go
  lib/tokens/price.go
  lib/xfee/manager.go
  monitor/xfeemngr/gasprice/buffer.go
  monitor/xfeemngr/gasprice/buffer_test.go
  monitor/xfeemngr/tokenprice/buffer.go
  monitor/xfeemngr/tokenprice/buffer_test.go
  monitor/xfeemngr/tokenprice/options.go
Owners: @corverroos, @idea404, @kevinhalliday, @pavelnikolov

feat(docs): add dynamic code blocks component
  docs/site/package.json
  docs/site/pnpm-lock.yaml
  docs/site/src/components/CodeSnippet/CodeSnippet.css
  docs/site/src/components/CodeSnippet/CodeSnippet.tsx
  docs/site/src/css/custom.css
  docs/site/static/img/github-icon-dark.svg
  docs/site/static/img/github-icon-light.svg
Owners: @idea404

feat(docs): make line numbers in url optional
  docs/site/docs/develop/contracts.md
  docs/site/docs/develop/introduction.md
  docs/site/src/components/CodeSnippet/CodeSnippet.tsx
Owners: @idea404

feat(docs): use codesnippet comp in develop contracts
  docs/site/docs/develop/contracts.md
Owners: @idea404

.github/CODEOWNERS:

# Code owners for specific directories
/halo @corverroos @idea404
/relayer @corverroos @idea404
/lib @corverroos @idea404 @kevinhalliday @pavelnikolov
/contracts @kevinhalliday @ttarsi
/explorer @pavelnikolov
/explorer/indexer @corverroos
/explorer/ui @kevinhalliday
/explorer/graphql @pavelnikolov
/docs @idea404
